# Pandas DataFrame overview

# remmeber! index length must be equal to values ( or , do not provide index)

In [1]:
# Mind Teaser !!
#Assigning a column that already exist will ________ and 
# assigning a column that does not exist will ________

In [2]:
# how to reindex and use of ffill value of parameter method 
import pandas as pd
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 3, 6])
print( obj3 )
obj3 =obj3.reindex(range(9) )
print(obj3)

0      blue
3    purple
6    yellow
dtype: object
0      blue
1       NaN
2       NaN
3    purple
4       NaN
5       NaN
6    yellow
7       NaN
8       NaN
dtype: object

In [3]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 3, 6])
print( obj3 )
obj3 =obj3.reindex(range(9) )
print(obj3)
print(obj3.isnull())
print(obj3.fillna("Green"))

0      blue
3    purple
6    yellow
dtype: object
0      blue
1       NaN
2       NaN
3    purple
4       NaN
5       NaN
6    yellow
7       NaN
8       NaN
dtype: object
0    False
1     True
2     True
3    False
4     True
5     True
6    False
7     True
8     True
dtype: bool
0      blue
1     Green
2     Green
3    purple
4     Green
5     Green
6    yellow
7     Green
8     Green
dtype: object

In [4]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 3, 6])
print( obj3 )
obj3 =obj3.reindex(range(9), method='ffill' )
print(obj3)

0      blue
3    purple
6    yellow
dtype: object
0      blue
1      blue
2      blue
3    purple
4    purple
5    purple
6    yellow
7    yellow
8    yellow
dtype: object

In [5]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 3, 6])
print( obj3 )
obj3 =obj3.reindex(range(2,11), method="ffill")
obj3

0      blue
3    purple
6    yellow
dtype: object

2       blue
3     purple
4     purple
5     purple
6     yellow
7     yellow
8     yellow
9     yellow
10    yellow
dtype: object

In [6]:
import numpy as np
import pandas as pd
states = pd.DataFrame(np.arange(9).reshape((3, 3) ),
index=['a', 'c', 'd'], columns=['Ohio', 'Texas', 'California'])

print(states)
# for your own working, run following statement without ffill
states = states.reindex(['a', 'b', 'c', 'd'],method = 'ffill')
print(states)

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8
   Ohio  Texas  California
a     0      1           2
b     0      1           2
c     3      4           5
d     6      7           8

In [7]:
# column name changing using reindex method
states = pd.DataFrame(np.arange(9).reshape((3, 3) ),
index=['a', 'c', 'd'], columns=['Ohio', 'Texas', 'California'])
print(states)

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [8]:
states_name = ['Texas', 'Utah', 'California','Ohio']

# can we use ffill parameter in column reindex mode ?
states =states.reindex(columns=states_name)
print(states)

   Texas  Utah  California  Ohio
a      1   NaN           2     0
c      4   NaN           5     3
d      7   NaN           8     6

In [9]:
statesAvg = states.mean(axis = 1)
statesAvg

a    1.0
c    4.0
d    7.0
dtype: float64

In [10]:
states["Utah"] = states["Utah"].fillna(statesAvg)

In [11]:
print(states)

   Texas  Utah  California  Ohio
a      1   1.0           2     0
c      4   4.0           5     3
d      7   7.0           8     6

# Deleting data (row or column from dataframe)

In [12]:
import numpy as np
import pandas as pd
data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
             index=['Ohio', 'Colorado', 'Utah', 'New York'],
             columns=['one', 'two', 'three', 'four'])
print(data_df)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [13]:
import numpy as np
import pandas as pd

data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
             index=['Ohio', 'Colorado', 'Utah', 'New York'],
             columns=['one', 'two', 'three', 'four'])

print(data_df, "\n")

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [14]:
#You can drop values from the columns by passing axis=1 
#or axis='columns' :
data_df = data_df.drop('two', axis=1)
#data_df.drop('two', axis=1, inplace = True)
print(data_df)
# if i want to remove a row for example 'Colorado', 
# how can we do that

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [15]:
data_df = data_df.drop('Colorado', axis=0)
print(data_df)

          one  three  four
Ohio        0      2     3
Utah        8     10    11
New York   12     14    15

# Indexing, Selection, and Filtering

In [16]:
import numpy as np
import pandas as pd

data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
             index=['Ohio', 'Colorado', 'Utah', 'New York'],
             columns=['one', 'two', 'three', 'four'])

print(data_df, "\n")

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [17]:
df2 = data_df[ ["one", "three"] ]
print(df2)

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

In [18]:
print( data_df[2:] ) # same like numpy

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [19]:
print(data_df["one"] )# dicitonary like style of accessing data

Ohio         0
Colorado     4
Utah         8
New York    12
Name: one, dtype: int32

In [20]:
print(data_df.one[2:])  # filter on both row and column

Utah         8
New York    12
Name: one, dtype: int32

In [21]:
# Conditonal Selection
print ( data_df.three[data_df['three'] > 6] )

Utah        10
New York    14
Name: three, dtype: int32

In [22]:
print(data_df, "\n")
f2 = data_df["three"] > 5  # boolean dataframe
print(f2)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        False
Colorado     True
Utah         True
New York     True
Name: three, dtype: bool

In [23]:
print(df2)

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

In [24]:
print( data_df[  data_df["three"] > 5  ] )

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

# Selection with loc and iloc

In [25]:
import numpy as np
import pandas as pd

data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
             index=['Ohio', 'Colorado', 'Utah', 'New York'],
             columns=['one', 'two', 'three', 'four'])

print(data_df, "\n")

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [26]:
# in the loc method specify row label first 
# then specify column names
# remember! mutiple column names require array notation
print( data_df.loc[['Colorado','Ohio'], ['two',  'three'] ] )

          two  three
Colorado    5      6
Ohio        1      2

In [27]:
print( data_df.iloc[2:, [3, 0, 1] ] ) # using number instead of labels

          four  one  two
Utah        11    8    9
New York    15   12   13

In [28]:
print( data_df.iloc[:])

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [29]:
print ( data_df.iloc[ :3 , :3 ] )

          one  two  three
Ohio        0    1      2
Colorado    4    5      6
Utah        8    9     10

In [30]:
print( data_df.iloc[:, :3])

          one  two  three
Ohio        0    1      2
Colorado    4    5      6
Utah        8    9     10
New York   12   13     14

# Arithmetic and Data Alignment

In [31]:
#print(list('bcd'))
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), 
                   columns=list('bcd'), 
                   index=['Ohio', 'Texas', 'Colorado'])

df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), 
                   columns=list('bde'),
                    index=['Utah', 'Ohio', 'Texas', 'Oregon'])

print(df1)
print(df2)

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0
          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [32]:
print()
# applying plus operation between two data frames
df3 = df1 + df2
print(df3)
# your work is to fill all Nan values of  this df3 with a number, 
# choice of number is yours

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

# Arithmetic methods with fill values

In [33]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                   columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                    columns=list('abcde'))
print(df1)
print(df2)

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0
      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [34]:
df2.loc[1, 'b'] = np.nan
print(df2)

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [35]:
df3 = df1 + df2
print("direct + operation without fill_value")
print(df3)

direct + operation without fill_value
      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0   NaN  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [36]:
# We can use add method for filling NaN cells with a value
# Nan will be replaced by 0 and then addition operation will apply
print("addition using a method with replacing Nan with 0")
df3 = df1.add(df2, fill_value=0)
print(df3)

addition using a method with replacing Nan with 0
      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

# Operations between DataFrame and Series

In [37]:
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
            columns=list('bde'), 
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(frame)

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [38]:
# iloc syntax
# iloc[start_row_pos:end_row_pos, start_column_pos: end_col_positin ]
series = frame.iloc[0]
print(series)

b    0.0
d    1.0
e    2.0
Name: Utah, dtype: float64

In [39]:
print(series.values)
print(series.index)

[0. 1. 2.]
Index(['b', 'd', 'e'], dtype='object')

In [40]:
print(frame - series)

          b    d    e
Utah    0.0  0.0  0.0
Ohio    3.0  3.0  3.0
Texas   6.0  6.0  6.0
Oregon  9.0  9.0  9.0

In [41]:
series = pd.Series([1,2,3], index =list('bde') )
print(series)

b    1
d    2
e    3
dtype: int64

In [42]:
print(series.index, series.values)

Index(['b', 'd', 'e'], dtype='object') [1 2 3]

In [43]:
print(frame - series)

          b    d    e
Utah   -1.0 -1.0 -1.0
Ohio    2.0  2.0  2.0
Texas   5.0  5.0  5.0
Oregon  8.0  8.0  8.0

# Function Application and Mapping

In [44]:
import numpy as np
import pandas as pd
frame  = pd.DataFrame(np.random.randn(4, 3), 
                             columns=list('bde'), 
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(frame)

               b         d         e
Utah    0.494720 -0.497839  0.318656
Ohio   -0.606321  0.445978  0.281880
Texas  -0.300399  0.574800 -0.201082
Oregon  0.552820  1.284269  0.856110

In [45]:
print(np.abs(frame))

               b         d         e
Utah    0.494720  0.497839  0.318656
Ohio    0.606321  0.445978  0.281880
Texas   0.300399  0.574800  0.201082
Oregon  0.552820  1.284269  0.856110

In [46]:
print(frame["d"]. min())

-0.49783850413459074

In [47]:
print(frame["d"].max())

1.2842687925533514

In [48]:
print(frame["d"].max() - frame["d"]. min())

1.782107296687942

In [49]:
f = lambda x: x.max() - x.min() 
df = frame.apply(f)
print(df, type(df))

b    1.159141
d    1.782107
e    1.057193
dtype: float64 <class 'pandas.core.series.Series'>

In [50]:
df = frame.apply(f, axis=1)
print(df)

Utah      0.992559
Ohio      1.052300
Texas     0.875199
Oregon    0.731449
dtype: float64

In [51]:
def min_max(x):
  return pd.Series( [x.max() - x.min() ], index=['min-max'])    

df = frame.apply(min_max)
print(df, type(df))

                b         d         e
min-max  1.159141  1.782107  1.057193 <class 'pandas.core.frame.DataFrame'>

In [52]:
# Sorting and Ranking
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index=['three', 'one'],
                     columns=['d', 'a', 'b', 'c'])
print(frame)

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [53]:
print(frame.sort_index(axis=1, ascending=True))
# defaults in sort: axis = 0, ascending = True

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [54]:
print( frame.sort_index())

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [55]:
# sort by values
print(frame)

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [56]:
print( frame.sort_values(by='b') )

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [57]:
print(frame.rank(ascending=False, method='max'))

         d    a    b    c
three  2.0  2.0  2.0  2.0
one    1.0  1.0  1.0  1.0

In [58]:
print(frame.rank(ascending=True, method='min'))

         d    a    b    c
three  1.0  1.0  1.0  1.0
one    2.0  2.0  2.0  2.0

In [59]:
print( frame.rank(axis='columns'))

         d    a    b    c
three  1.0  2.0  3.0  4.0
one    1.0  2.0  3.0  4.0

In [60]:
#check details from the book
'''
'average' Default: assign the average rank to each entry in the equal group
'min'
'max'
'first'
'dense'
Use the minimum rank for the whole group
Use the maximum rank for the whole group
Assign ranks in the order the values appear in the data
Like method='min' , but ranks always increase by 1 in between groups rather than the number of equal
elements in a group
'''

"\n'average' Default: assign the average rank to each entry in the equal group\n'min'\n'max'\n'first'\n'dense'\nUse the minimum rank for the whole group\nUse the maximum rank for the whole group\nAssign ranks in the order the values appear in the data\nLike method='min' , but ranks always increase by 1 in between groups rather than the number of equal\nelements in a group\n"

In [61]:
#Summarizing and Computing Descriptive Statistics

df = pd.DataFrame([
                    [1.4, np.nan], [7.1, -4.5],
                    [np.nan, np.nan], [0.75, -1.3]
                   ], index=['a', 'b', 'c', 'd'], columns=['one', 'two'])
print(df)
print()

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [62]:
print( df.sum())

one    9.25
two   -5.80
dtype: float64

In [63]:
print( df.sum(axis='columns'))
# note: use of skipna

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [64]:
print(df)
x = df.mean(axis='columns', skipna=False)
print()
print(x)

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [65]:
# unique values
df = pd.DataFrame([
                    [1.4,1.4, 1.5, np.nan], [7.1, -4.5, 1.5, 1.4],
                    [1.4, np.nan, 0.5, np.nan], [0.75, -1.3, 1.3, np.nan]
                   ], index=['a', 'b', 'c', 'd'], columns=['one', 'two', 'three', 'four'])
print(df)

    one  two  three  four
a  1.40  1.4    1.5   NaN
b  7.10 -4.5    1.5   1.4
c  1.40  NaN    0.5   NaN
d  0.75 -1.3    1.3   NaN

In [66]:
print(df['one'].unique(), df['two'].unique() )

[1.4  7.1  0.75] [ 1.4 -4.5  nan -1.3]

In [67]:
df['one'].value_counts()

1.40    2
0.75    1
7.10    1
Name: one, dtype: int64