## 3.1.7. Variables

In [1]:
# Lecture slides 17 to 35
# chapter no. 2 to 8
# Variables are place holder
# hold the value that may change

In [2]:
a = 10 
# a is variable name (identifier)
# = is assignment operator
# 10 is value (integer value)
# variable has no data type. it is dependant on value
# integer value 10 is assigned to variable a
print(a)

10

In [3]:
#when a new value is assigned to same varibale it is overrided
a = 10.6
print(a)

10.6

In [4]:
a = 'Lahore'
print (a)

Lahore

In [5]:
# there is no need to define data type of identifier
# it adopts the data type of input value

In [6]:
# type finds the data type of variable
a = 12
type(a)

int

In [7]:
b = 12.0
type(b)

float

In [8]:
c = '12'
type(c)

str

In [9]:
# suppose we override string with integer or float
c = 1
type(c)

int

In [10]:
name = "Hassan"
print(name)
print(type(name))

Hassan
<class 'str'>

In [11]:
name = "Ibtisam"
print("name")

name

In [12]:
name = "Hassan"
name = "Ibtisam"
name = "Zubair"
print(name)

Zubair

In [13]:
name = "Hassan"
xyz = "Hassan"
print(name)
print(xyz)

Hassan
Hassan

In [14]:
x = "Hassan"
y = "Ali"
z = "Khan"
print(x,y,z)

Hassan Ali Khan

In [15]:
# always use meaningful variable names 
first_name = "Hassan"
middel_name = "Ali"
last_name = "Khan"
#we can use tab to autofill
print(first_name,middel_name,last_name)

Hassan Ali Khan

In [16]:
# While assigning variables name
    # We can’t leave spaces between words
    # We can’t use quotation marks in variable naming
    # We can’t use number as variable name
    # We can’t use number at the beginning of a variable name
    # We can’t use keywords but use them with combination with other words (for finding keywords run following code)
        # import keyword
        # print(keyword.kwlist)
    # Other than letters numbers and _ nothing can be used in variable name
    # Variable name is case sensitive
    # Use _ to write large name

In [17]:
import keyword
print(keyword.kwlist)
keyword.

SyntaxError: invalid syntax (<ipython-input-17-794a87fb1d4f>, line 3)

In [18]:
1st_prime_number = 2

SyntaxError: invalid syntax (<ipython-input-18-64b5ce439b44>, line 1)

In [19]:
prime_number_that_comes1st = 2 
print(prime_number_that_comes1st)

2

In [20]:
# Use _ to write large name
user_response 
user_response_time 
user_response_time_limit 
best_supporting_actress_in_a_drama_or_comedy

NameError: name 'user_response' is not defined

In [21]:
# Mathamatical Expressions
# operators {+, -, *, /} are commanly used operators

In [22]:
# Lets have a look at '+' operator 
#plus sign for numbers add two numbers
print(23+34)

57

In [23]:
# we can use operator on variables and assign value to a third variable
a = 23
b = 34
c = a+b
print(c)

57

In [24]:
num_1 = 100
num_2 = 200
sum = num_1 + num_2 
print(sum)

300

In [25]:
original_num = 23
num_to_be_added = 8
new_num = original_num + num_to_be_added
print(new_num)

31

In [26]:
# we can use operator on a variable and number
weight = 150
add = weight + 10
print (add)

160

In [27]:
original_num = 23
new_num = original_num + 7 
print(new_num)

30

In [28]:
original_num = 90
original_num = original_num + 10 
print(original_num)

100

In [29]:
popular_number = 4
print(popular_number)
popular_number = 2 + 2 
print(popular_number)
print(2 + 2)

4
4
4

In [30]:
#adding a float and int causes float
num = .075
total = num + 200 
print(total)

200.075

In [31]:
num = 10
another_num = 1.5
sum_of_numbers = num + another_num
print(sum_of_numbers)

11.5

In [32]:
# plus sign for strings contatinate
# in string + is concatenation

In [33]:
a="23"
b="24"
sum=a+b
print(sum)

2324

In [34]:
student_name = "nasir"
father_name = "hussain"
print(student_name+father_name) #plus sign for strings join two strings / contatination

nasirhussain

In [35]:
print("Hello, World!") 
greeting = "Hello, World!"
print(greeting) 
greeting = "Hello"
addressee = "World"
whole_greeting = greeting + addressee 
print(whole_greeting)

Hello, World!
Hello, World!
HelloWorld

In [36]:
greeting = "Hello"
separators = ", "
addressee = "World"
punc = "!"
whole_greeting = greeting + separators + addressee + punc
print(whole_greeting)

Hello, World!

In [37]:
greeting = "Hello"
separators = ", "
addressee = "World"
punc = "!"
whole_greeting = "Hello, " + "World!" 
print(whole_greeting)
whole_greeting = "Hello" + separators + "World" + punc 
print(whole_greeting)
print("Hello, " + "World!") 
print(greeting + separators + addressee + punc) 
print("Hello" + separators + "World" + punc)

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

In [38]:
print("The sum of 2 plus 2 is " + "4")

The sum of 2 plus 2 is 4

In [39]:
# We can not contatinate a string and a number
original_num = "23"
new_num = original_num + 7 
print(new_num)

TypeError: can only concatenate str (not "int") to str

In [40]:
print("The sum of 2 plus 2 is " + 4)

TypeError: can only concatenate str (not "int") to str

In [41]:
# other daily use math operators
loss = 12 - 24 
dozens = 3 * 12 
popular_number = 12 / 4 
print(loss,dozens,popular_number)

-12 36 3.0

In [42]:
value1 = 100
value2 = 10.5
sum = value2 - value1       #during an opertion if a singal value is float answer is float
print(sum)

-89.5

In [43]:
v1 = 175
v2 = 137
add = v1+v2
minus = v1-v2
mult = v1*v2
div1 = v2/v1 #python by default use float in division
print(add)
print(minus)
print(mult)
print(div1)

312
38
23975
0.7828571428571428

In [44]:
# Rules for maths
# Doing complex calculations in python work the same way as ordinary algebra

In [45]:
total_cost = 1 + 3 * 4
print(total_cost)
total_cost = 1 + (3 * 4)
print(total_cost)
total_cost = (1 + 3) * 4
print(total_cost)

13
13
16

In [46]:
result_of_computation = (2 * 4) * 4 + 2 
print(result_of_computation)
result_of_computation = ((2 * 4) * 4) + 2 
print(result_of_computation)
result_of_computation = (2 * 4) * (4 + 2) 
print(result_of_computation)

34
34
48

In [47]:
# Other mathamatical operators
# these are mathamatical operators which are not commonly used

In [48]:
# use of // result in integer it elimiates the floating part
v1 = 115
v2 = 20054
div2 = v2//v1 
print(div2)

174

In [49]:
# use of % result in remainder
whats_left_over = 9 % 3
print(whats_left_over)
whats_left_over = 10 % 3
print(whats_left_over)

0
1

In [50]:
# Self operators

In [51]:
# increment
age = 12
age += 1
print(age)

13

In [52]:
age = 12
age += 50
print(age)

62

In [53]:
# decrement operator
age = 12
age -= 2
print(age)

10

In [54]:
amount_to_increment = 3
age += amount_to_increment
print(age)

13

In [55]:
# multiplication operator
age = 12
age *= 3
print(age)

36

In [56]:
# division operator
age = 12
age /= 3
print(age)

4.0

In [57]:
# * operator can be used with string to repeat it many times

In [58]:
a = "Hi "
b = a*10
print(b)

Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi

In [59]:
# power operator
a = 5
b = 5**4
print(b)

625

In [60]:
# Uniry operator
# + do nothing
# - ivert sign