## 3.1.11. Lists

In [1]:
# Lecture slides 57 â€“ 60
# Chapter no. 15
# Bunch of values in a single variable known as list
# mutable / changeable ordered sequence of elements
# each value is known as element
# alist = [-,-,-,-,-,-]
# In python indexing start from 0

In [2]:
city_0 = "Atlanta "
city_1 = "Baltimore "
city_2 = "Chicago "
city_3 = "Denver "
city_4 = "Los Angeles "
city_5 = "Seattle "
cities = city_0+city_1+city_2+city_3+city_4+city_5
print(cities)

Atlanta Baltimore Chicago Denver Los Angeles Seattle

In [3]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [4]:
mixed_things = [1, "Bob", "Now is"]
mixed_things

[1, 'Bob', 'Now is']

In [5]:
frinds = ['Hamza','Fatima','Azhar','laiba','Ali','Zoya']
numbers = [1,2,3,4,5,6,7,8,9]
list_float = [2.43,98.67,7.45,45.65]
mix = ['Ahsan',2,4.56,6.87,True,'Maham',56,False]
print(frinds)
print(type(frinds))
print(numbers)
print(type(numbers))
print(list_float)
print(type(list_float))
print(mix)
print(type(mix))

['Hamza', 'Fatima', 'Azhar', 'laiba', 'Ali', 'Zoya']
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>
[2.43, 98.67, 7.45, 45.65]
<class 'list'>
['Ahsan', 2, 4.56, 6.87, True, 'Maham', 56, False]
<class 'list'>

In [6]:
# common list operations
    # access values
    # add new value at the end
    # finding index of a value in list
    # slicing the elements from the list
    # deleting and removing the elements from the list
    # popping elements from the list

## 3.1.12. Lists - in Practice

In [7]:
alist = ["nasir","ali","Faisal"]
# index     0      1    2
print(alist)

['nasir', 'ali', 'Faisal']

In [8]:
city1 = "Karachi"
city2 = "multan"
city3 = "lahore"
city4 = "Queta"
cities = ["Karachi", "Multan","Lahore","Queta"]
print(cities)

['Karachi', 'Multan', 'Lahore', 'Queta']

## 3.1.13. Lists - Accessing list elements

In [9]:
# Lecture slides 61
# use list name and index in square brackets

In [10]:
mix = ['Ahsan',2,4.56,6.87,True,'Maham',56,False]
print(mix[5])

Maham

In [11]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]
print("Welcome to " + cities[3])

Welcome to Denver

In [12]:
arr = [1,True,"Pakistan",3.5,5,9]
print(arr)
print(arr[1])

[1, True, 'Pakistan', 3.5, 5, 9]
True

In [13]:
alist = ["nasir","ali","Faisal"]
cities = ["Karachi", "Multan","Lahore","Queta"]
fruits=[]

In [14]:
alist[1]

'ali'

In [15]:
cities[3]

'Queta'

In [16]:
# find length of a list
len(fruits)

0

In [17]:
len(cities)

4

In [18]:
len(alist)

3

## 3.1.14. Adding Values in list

In [19]:
# Lecture slides 62
# Chapter no. 16
# we can add valus to a already present list 
# ADD
    # Append---add to last
    # Insert--- add to defined index
    # Extend---add multiple members at once

## 3.1.15. Adding Values in list - in Practice

In [20]:
# Append---add to last
# it only add one member

In [21]:
arr = [1,-3,4.5,32,0.2,4,6]
print(arr)

[1, -3, 4.5, 32, 0.2, 4, 6]

In [22]:
#list name + . + tab
arr.append(321)
print(arr)

[1, -3, 4.5, 32, 0.2, 4, 6, 321]

In [23]:
fruits=[]
print(fruits)

[]

In [24]:
fruits.append("apple")
print(fruits)

['apple']

In [25]:
fruits.append("Orange")
print(fruits)

['apple', 'Orange']

In [26]:
cities=["Atlanta","Baltimore","Chicago","Denver","Los Angeles","Seattle"]
print (cities)
cities.append("New York")
print(cities)
cities = cities + ["Dubuque", "New Orleans"]
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']
['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York']
['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York', 'Dubuque', 'New Orleans']

In [27]:
# Insert--- add to defined index
# it asks for where and what

In [28]:
fruits.insert(1,"mango")
print(fruits)

['apple', 'mango', 'Orange']

In [29]:
cities=["Atlanta","Baltimore","Chicago","Denver","Los Angeles","Seattle"]
print(cities)
cities.insert(1, "New York")
print(cities)
cities.insert(2, "Dallas")
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']
['Atlanta', 'New York', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']
['Atlanta', 'New York', 'Dallas', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [30]:
# Extend---add multiple members at once
# add at the end

In [31]:
fruits.extend(["cherry","blueberry","pine Apple"])
print(fruits)

['apple', 'mango', 'Orange', 'cherry', 'blueberry', 'pine Apple']

In [32]:
todays_tasks = [] 
print(todays_tasks)
todays_tasks = todays_tasks + ["Walk dog", "Buy groceries"]
print(todays_tasks)

[]
['Walk dog', 'Buy groceries']

In [33]:
cities=["Atlanta","Baltimore","Chicago","Denver","Los Angeles","Seattle"]
print (cities)
cities.extend(["Dubuque", "New Orleans"])
print(cities)
cities=["Atlanta","Baltimore","Chicago","Denver","Los Angeles","Seattle"]
cities = cities + ["Dubuque", "New Orleans"]
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']
['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'Dubuque', 'New Orleans']
['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'Dubuque', 'New Orleans']

In [34]:
# some other functions which can be used on lists

In [35]:
# Count
    # Count---count number of instances a member is used
fruits=["cherry","blueberry","pine Apple"]
print(fruits)

['cherry', 'blueberry', 'pine Apple']

In [36]:
fruits.count("cherry")

1

In [37]:
fruits.count("ALi")

0

In [38]:
# Clear
    # Clear---clear the complete list
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers)
numbers.clear()
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[]

In [39]:
# Copy
    # Copy--- copy complete list to other variable

In [40]:
fruits=["cherry","blueberry","pine Apple"]

In [41]:
# copy by value
fruits2=fruits.copy()

In [42]:
print(fruits)
print(fruits2)

['cherry', 'blueberry', 'pine Apple']
['cherry', 'blueberry', 'pine Apple']

In [43]:
#by reference not a new list just coppy
fruits3 = fruits 
fruits
fruits3

['cherry', 'blueberry', 'pine Apple']

In [44]:
fruits.append("new fruit")
print(fruits)
print(fruits2)
print(fruits3)

['cherry', 'blueberry', 'pine Apple', 'new fruit']
['cherry', 'blueberry', 'pine Apple']
['cherry', 'blueberry', 'pine Apple', 'new fruit']

In [45]:
# if we want to replace an element of list we use the following syntax
alist = [0,1,2,3,4,5]
print(alist)
alist[2] = 125
print(alist)

[0, 1, 2, 3, 4, 5]
[0, 1, 125, 3, 4, 5]

## 3.1.16. Finding Values in List

In [46]:
# Lecture slides 63 - 64
# Index
    # Index--- tell index of a member
# We can use index
# Or ---- in -----

In [47]:
numbers = [1,2,3,4,5,6,7,8,9]
numbers.index(5)

4

In [48]:
arr = [1,-3,4.5,32,0.2,4,1]
print(arr)
arr.index(0.2)

[1, -3, 4.5, 32, 0.2, 4, 1]

4

In [49]:
arr = [1,-3,4.5,32,0.2,4,1]
1 in arr

True

## 3.1.17. Slicing Elements from list

In [50]:
# Lecture slides 65
# Chapter 17
# to get more than one values from list we use slicing
# left side is staring index - - - inclusive
# right side is ending index - - - exclusive
arr = [1,4,2,78,45,23,89]
print(arr)
print(arr[1:4])
print(arr[-2:-1])
print(arr[1: :2])

[1, 4, 2, 78, 45, 23, 89]
[4, 2, 78]
[23]
[4, 78, 23]

## 3.1.18. Slicing in Practice

In [51]:
# -ve index      -5      -4       -3      -2      -1
students = ["Ali","Faisal","Saleem","Hamza","Kashif"]
# +ve index       0       1        2       3       4
print(students)

['Ali', 'Faisal', 'Saleem', 'Hamza', 'Kashif']

In [52]:
# Ali have two index
print(students[0])
print(students[-5])

Ali
Ali

In [53]:
# slicing gives list as output
print(students[1:2])
print(students[1:3])

['Faisal']
['Faisal', 'Saleem']

In [54]:
print(students[-4:-3])

print(students[-4:-2])

['Faisal']
['Faisal', 'Saleem']

In [55]:
print(students[:])
print(students[3:])
print(students[0:3])

['Ali', 'Faisal', 'Saleem', 'Hamza', 'Kashif']
['Hamza', 'Kashif']
['Ali', 'Faisal', 'Saleem']

In [56]:
print(students[2:-1])

['Saleem', 'Hamza']

In [57]:
# during slicing if we give wrong slicing we dont get a error
print(students[2:-5])

[]

In [58]:
# we can use steps too
nums = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(nums[0:16])
print(nums[0:16:1])
print(nums[0:16:2])
print(nums[0:16:5])
print(nums[::5])
print(nums[2::8])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[1, 3, 5, 7, 9, 11, 13, 15]
[1, 6, 11, 16]
[1, 6, 11, 16]
[3, 11, 19]

In [59]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
smaller_list_of_cities = cities[2:5]
smaller_list_of_cities

['Chicago', 'Denver', 'Los Angeles']

In [60]:
smaller_list_of_cities = cities[:5]
smaller_list_of_cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles']

In [61]:
smaller_list_of_cities = cities[2:]
smaller_list_of_cities

['Chicago', 'Denver', 'Los Angeles', 'Seattle']

## 3.1.19. Removing elements from list

In [62]:
# Lecture slides 66 & 67
# Chapter 18
# Remove
    # Del---del aa member from a particular index
    # Remove---remove a member by value
    # Pop---remove value by last in first out and by index tooâ€”store removed value

In [63]:
fruits = ['apple','cherry','blurberry']
fruits

['apple', 'cherry', 'blurberry']

In [64]:
# del uses index
del fruits[1]
fruits

['apple', 'blurberry']

In [65]:
# remove uses value
fruits.remove('apple')
fruits

['blurberry']

In [66]:
# gives an error if entry not present
fruits.remove('apple')
fruits

ValueError: list.remove(x): x not in list

In [67]:
arr = [1,3,2,6,4]
arr

[1, 3, 2, 6, 4]

In [68]:
del arr [2]
arr

[1, 3, 6, 4]

In [69]:
# we can delete more than one value at once
del arr[0:2]
arr

[6, 4]

In [70]:
arr.remove(4)
arr

[6]

In [71]:
arr.remove(4)
arr

ValueError: list.remove(x): x not in list

In [72]:
# look at an other example

In [73]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
tasks

['email Frank', 'call Sarah', 'meet with Zach']

In [74]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
del tasks [0]
tasks

['call Sarah', 'meet with Zach']

In [75]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
del tasks [1]
tasks

['email Frank', 'meet with Zach']

In [76]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
del tasks [:]
tasks

[]

In [77]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
tasks.remove("call Sarah")
tasks

['email Frank', 'meet with Zach']

## 3.1.20 Popping elements from list

In [78]:
# Lecture slides 68
#Chapter 19

In [79]:
# if we use pop it removes the last element
# we can use the popped element
arr = [1,2,4,6,7]
print(arr.pop())
print(arr)

7
[1, 2, 4, 6]

In [80]:
# we can also use index number in it
print(arr.pop(2))
print(arr)

4
[1, 2, 6]

In [81]:
cities = ["Karachi", "Multan","Lahore","Queta"]
cities

['Karachi', 'Multan', 'Lahore', 'Queta']

In [82]:
popedCity=cities.pop()
print(f"This city is poped from list {popedCity}")
print(f"The remaining cities are {cities}")

This city is poped from list Queta
The remaining cities are ['Karachi', 'Multan', 'Lahore']

In [83]:
popedCity=cities.pop()
print(f"This city is poped from list {popedCity}")
print(f"The remaining cities are {cities}")

This city is poped from list Lahore
The remaining cities are ['Karachi', 'Multan']

In [84]:
popedCity=cities.pop()
print(f"This city is poped from list {popedCity}")
print(f"The remaining cities are {cities}")

This city is poped from list Multan
The remaining cities are ['Karachi']

In [85]:
popedCity=cities.pop()
print(f"This city is poped from list {popedCity}")
print(f"The remaining cities are {cities}")

This city is poped from list Karachi
The remaining cities are []

In [86]:
# if no entry to pop results in error
popedCity=cities.pop()
print(f"This city is poped from list {popedCity}")
print(f"The remaining cities are {cities}")

IndexError: pop from empty list

In [87]:
tasks_accomplished=[]
tasks = ["email Frank", "call Sarah", "meet with Zach"]
print("tasks ---",tasks)
latest_task_accomplished = tasks.pop(1)
print("latest_task_accomplished ---",latest_task_accomplished)
print("tasks ---",tasks)
tasks_accomplished.append(latest_task_accomplished)
print("tasks_accomplished ---",tasks_accomplished)
print("tasks ---",tasks)
latest_task_accomplished = tasks.pop(1)
print("latest_task_accomplished ---",latest_task_accomplished)
print("tasks ---",tasks)
tasks_accomplished.append(latest_task_accomplished)
print("tasks_accomplished ---",tasks_accomplished)

tasks --- ['email Frank', 'call Sarah', 'meet with Zach']
latest_task_accomplished --- call Sarah
tasks --- ['email Frank', 'meet with Zach']
tasks_accomplished --- ['call Sarah']
tasks --- ['email Frank', 'meet with Zach']
latest_task_accomplished --- meet with Zach
tasks --- ['email Frank']
tasks_accomplished --- ['call Sarah', 'meet with Zach']

In [88]:
# some other functions used on list.
# Sort
    # Sort---in alphabetic ascend or descend
    # Reverse--- sort in reverse order

In [89]:
# sort function sorts the cities alphabatically
# it auomaticy sort in asceding order
cities = ["Karachi", "Multan","Lahore","Queta"]
print(cities)
cities.sort()
cities

['Karachi', 'Multan', 'Lahore', 'Queta']

['Karachi', 'Lahore', 'Multan', 'Queta']

In [90]:
cities = ["Karachi", "Multan","Lahore","Queta"]
print(cities)
cities.sort(reverse=True)
cities

['Karachi', 'Multan', 'Lahore', 'Queta']

['Queta', 'Multan', 'Lahore', 'Karachi']

In [91]:
# reverse is used to reverse a list
cities = ["Karachi", "Multan","Lahore","Queta"]
print(cities)
cities.reverse()
cities

['Karachi', 'Multan', 'Lahore', 'Queta']

['Queta', 'Lahore', 'Multan', 'Karachi']