## 3.2.1. For Loops

In [1]:
# Lecture slides 71 and 72
# Chapter 21
# Used for doing iterative work
# Two types of loop - - - for and while

In [2]:
arr = [1,3,2,6,90,34,5]
for elem in arr:
    print(elem)

1
3
2
6
90
34
5

## 3.2.2. For Loop Break Keywords

In [3]:
# Lecture slides 73
# loops execute from start till end
# if we intentially want to stop a loop we use break function

In [4]:
arr = [1, 3, "a", 6, 67, 23, 45]
for elem in arr:
    print(elem)
    if elem == "a":
        break

1
3
a

## 3.2.3. For Loop Continue Keywords

In [5]:
# Lecture slides 74
# we use continue word to skip some steps

In [6]:
err = [1, 3, 2, 6, 67, 23, 45, 49]
for elem in err:
    if elem % 2 == 0:
        continue
    print(elem)

1
3
67
23
45
49

## 3.2.4. For Loop - in practice

In [7]:
print ("Hassan")
print ("Hassan")
print ("Hassan")
print ("Hassan")
print ("Hassan")

Hassan
Hassan
Hassan
Hassan
Hassan

In [8]:
# range is a function it tells how many times a loop runs
# 5 is excluded
range(5)

range(0, 5)

In [9]:
for a in range(5): 
    print (a,"Hassan")

0 Hassan
1 Hassan
2 Hassan
3 Hassan
4 Hassan

In [10]:
# we can define the end
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [11]:
# we can define start and end
for number in range(4,10):
    print(number)

4
5
6
7
8
9

In [12]:
# we can define start and end with steps
for number in range(1,10,3):
    print(number)

1
4
7

In [13]:
for number in range(10,1,-2):
    print(number)

10
8
6
4
2

In [14]:
cities = ["Karachi","Lahore","Multan"]
cities

['Karachi', 'Lahore', 'Multan']

In [15]:
# we can use loop on list
for city in cities:
    print(city)

Karachi
Lahore
Multan

In [16]:
for city in cities:
    print(f"The city under consideration is {city}")

The city under consideration is Karachi
The city under consideration is Lahore
The city under consideration is Multan

In [17]:
for num in [11,22,33,44,55]:
    print (num)

11
22
33
44
55

In [18]:
# we can use loop on string
country = "Pakistan"
for char in country:
    print(char)

P
a
k
i
s
t
a
n

In [19]:
# we can use loop on tuple
country = "Pakistan","China"
for char in country:
    print(char)

Pakistan
China

In [20]:
for number in range(10):
    if number %  3 == 2:
        break
    print(number)

0
1

In [21]:
for number in [5,7,11,90]:
    if number %  2 == 0:
        break
    print(number)

5
7
11

In [22]:
for number in range(10):
    if number == 7:
        continue
    print(number)

0
1
2
3
4
5
6
8
9

In [23]:
for number in range(10):
    if number == 7 or number == 8:
        continue
    print(number)

0
1
2
3
4
5
6
9

In [24]:
city_to_check = "Tucson"
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson", "Great Falls", "Honolulu"]
if city_to_check == cleanest_cities[0]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[1]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[2]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[3]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[4]:
    print("It's one of the cleanest cities")

It's one of the cleanest cities

In [25]:
city_to_check = "Tucson"
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson", "Great Falls", "Honolulu"]
for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It's one of the cleanest cities")

It's one of the cleanest cities

In [26]:
z = "Tucson"
y = ["Cheyenne", "Santa Fe", "Tucson", "Great Falls", "Honolulu"]
for x in y: 
    if x == z:
        print("It's one of the cleanest cities")

It's one of the cleanest cities

In [27]:
city_to_check = "Tucson"
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson", "Great Falls", "Honolulu"]
for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It's one of the cleanest cities")
        break

It's one of the cleanest cities

## 3.2.5. Nested for Loop - in practice

In [28]:
# Lecture slides 75 and 76
# Chapter 22
# Outer loop executes once and then execute when inner loop is completely executed

In [29]:
for a in range(3):
    print("Inner loops Begin")
    for char in "Ali":
        print(a,char)

Inner loops Begin
0 A
0 l
0 i
Inner loops Begin
1 A
1 l
1 i
Inner loops Begin
2 A
2 l
2 i

In [30]:
table_number=int(input("Enter Table Number : "))
for a in range(1,11):
    print(f"{table_number}*{a} = {table_number*a}")

Enter Table Number : 5
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

In [31]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ", "Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " + a_last_name)
print(full_names)

['BlueRay  Zzz', 'BlueRay  Burp', 'BlueRay  Dogbone', 'BlueRay  Droop', 'Upchuck  Zzz', 'Upchuck  Burp', 'Upchuck  Dogbone', 'Upchuck  Droop', 'Lojack  Zzz', 'Lojack  Burp', 'Lojack  Dogbone', 'Lojack  Droop', 'Gizmo  Zzz', 'Gizmo  Burp', 'Gizmo  Dogbone', 'Gizmo  Droop', 'Do-Rag  Zzz', 'Do-Rag  Burp', 'Do-Rag  Dogbone', 'Do-Rag  Droop']

## 3.2.6. Nested for Loop - in practice 2

In [32]:
tables = int(input("Enter Table"))
for table in range(2,tables+1):
    for num in range(1,11):
        print(f"{table}*{num} = {table*num}")

Enter Table5
2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
4*10 = 40
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

In [33]:
arr = [[1,2,3],[8,19,23],[-2,3.5,0]]
for seq in arr:
    print("inner loop Begins")
    for elem in seq:
        print(elem)

inner loop Begins
1
2
3
inner loop Begins
8
19
23
inner loop Begins
-2
3.5
0