## 3.2.11. Dictionaries

In [1]:
# Lecture Slides 81 - 83
# Chapter No. 25 - 26
# is used to store bunch of values
# in dictionaries a member is a couple of two entries
    # one is key and second is value
    # value is searched based upon key. not index
    # values are stored based on key not index
    # use of {key1:value1,key2:value2}
    # data type of key can be any thing string,integer and float
    # data type of value can also be list, tuble or dictionary

In [2]:
student = {'Name':'Hassan','Class':'AI','Program':'PIAIC','Age':28}
print(student)

{'Name': 'Hassan', 'Class': 'AI', 'Program': 'PIAIC', 'Age': 28}

## 3.2.12. Dictionary - in Practice

In [3]:
# myDict = {key1:value1,key2:value2}
myDict = {'name':'Hassan Ali Khan','age':28,'gender':'M'}
print(myDict)
len(myDict)

{'name': 'Hassan Ali Khan', 'age': 28, 'gender': 'M'}

3

In [4]:
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St."}
customer_29876

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.'}

## 3.2.13. Accessing info from Dictionaries

In [5]:
# Lecture Slides 84 - 85
# Chapter 27 - 28

In [6]:
student = {'Name':'Hassan','Class':'AI','Program':'PIAIC','Age':28}
print(student['Name'])

Hassan

In [7]:
myDict = {'name': 'Hassan Ali Khan', 'age': 28, 'gender': 'M', 'email': 'abcd@hola.com'}

In [8]:
print('age is',myDict['age'])
print('email is',myDict['email'])
print('name is',myDict['name'])

age is 28
email is abcd@hola.com
name is Hassan Ali Khan

In [9]:
newDic = {1:'Asad',2:'saad'}
newDic[1]

'Asad'

In [10]:
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St."}
address_of_customer = customer_29876["address"]
print(address_of_customer)

4803 Wellesley St.

In [11]:
# The versatility of keys and values

In [12]:
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St."}

In [13]:
rankings = {5: "Finland", 2: "Norway", 3: "Sweden", 7: "Iceland"}
rankings[2]

'Norway'

In [14]:
country_ranks_so_far = {"Finland": 5, "Norway": 2, "Sweden": 3, "Iceland": 7}
country_ranks_so_far["Norway"]

2

In [15]:
things_to_remember = {0: "the lowest number", "a dozen": 12, "snake eyes": "a pair of ones", 13: "a baker's dozen"}
things_to_remember

{0: 'the lowest number',
 'a dozen': 12,
 'snake eyes': 'a pair of ones',
 13: "a baker's dozen"}

In [16]:
# for using seprate row use indent
things_to_remember = { 
    0: "the lowest number",
    "a dozen": 12,
    "snake eyes": "a pair of ones",
    13: "a baker's dozen"
}
things_to_remember

{0: 'the lowest number',
 'a dozen': 12,
 'snake eyes': 'a pair of ones',
 13: "a baker's dozen"}

In [17]:
# For findiing a value in a Dict.
myDict = {'name':'Hassan Ali Khan','age':28,'gender':'M'}

In [18]:
'email' in myDict

False

In [19]:
'age' in myDict

True

## 3.2.14. Adding Keys to Dictionaries

In [20]:
# lecture slides 86
# chapter No. 29
# we can add value to a dict. using  a key
# if the same key present already it will override the previous one

In [21]:
student = {'Name':'Hassan','Class':'AI','Program':'PIAIC','Age':28}
student['f_name'] = 'Zaheer'
student

{'Name': 'Hassan',
 'Class': 'AI',
 'Program': 'PIAIC',
 'Age': 28,
 'f_name': 'Zaheer'}

In [22]:
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St."}
customer_29876["city"] = "Toronto"
customer_29876

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'city': 'Toronto'}

In [23]:
things_to_remember = {}
things_to_remember[0] = "the lowest number"
things_to_remember["a dozen"] = 12
things_to_remember

{0: 'the lowest number', 'a dozen': 12}

## 3.2.15. Adding a new Key to an existing Dictionaries - in Practice

In [24]:
myDict = {'name':'Hassan Ali Khan','age':28,'gender':'M'}
myDict['email']='abcd@hola.com'
print(myDict)
len(myDict)

{'name': 'Hassan Ali Khan', 'age': 28, 'gender': 'M', 'email': 'abcd@hola.com'}

4

## 3.2.16. Removing info from Dictionaries

In [25]:
# Lecture slide 87
# Chapter 30
# use del word

In [26]:
student = {'Name':'Hassan','Class':'AI','Program':'PIAIC','Age':28}
print(student)
del student['Program']
print(student)

{'Name': 'Hassan', 'Class': 'AI', 'Program': 'PIAIC', 'Age': 28}
{'Name': 'Hassan', 'Class': 'AI', 'Age': 28}

In [27]:
# use del to delete a  key
myDict = {'name':'Hassan Ali Khan','age':28,'gender':'M'}
print(myDict)
del myDict['age']
print(myDict)

{'name': 'Hassan Ali Khan', 'age': 28, 'gender': 'M'}
{'name': 'Hassan Ali Khan', 'gender': 'M'}

In [28]:
# for updating a dict. use the method of adding new value but keep the key same
myDict = {'name':'Hassan Ali Khan','age':28,'gender':'M'}
print(myDict)
myDict['age']=82
print(myDict)

{'name': 'Hassan Ali Khan', 'age': 28, 'gender': 'M'}
{'name': 'Hassan Ali Khan', 'age': 82, 'gender': 'M'}

In [29]:
#Same key over writes the dict.
aDic = {1:100,2:200,3:300,4:400,1:1000}
aDic

{1: 1000, 2: 200, 3: 300, 4: 400}

In [30]:
# in book same concept repeted for changing as well as deleting a value

In [31]:
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St.","city":"Toronto"}
print(customer_29876)
del customer_29876["address"]
print(customer_29876)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'Toronto'}
{'first name': 'David', 'last name': 'Elliott', 'city': 'Toronto'}

In [32]:
print(customer_29876)
customer_29876["city"] = "Winipeg"
print(customer_29876)

{'first name': 'David', 'last name': 'Elliott', 'city': 'Toronto'}
{'first name': 'David', 'last name': 'Elliott', 'city': 'Winipeg'}

## 3.2.17. Iterating over info from Dictionaries

In [33]:
# Lecture Slides 88 and 89
# Chapter 31 - 33
# we can acces all key value pair by iterating
# we can use .keys, .values or .items

In [34]:
student = {'Name':'Hassan','Class':'AI','Program':'PIAIC','Age':28}
for value in student.values():
    print(value)

Hassan
AI
PIAIC
28

In [35]:
for key in student.keys():
    print(key)

Name
Class
Program
Age

In [36]:
for key,value in student.items():
    print(key,value)

Name Hassan
Class AI
Program PIAIC
Age 28

In [37]:
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St.","city":"Toronto"}
for each_value in customer_29876.values():
    print(each_value)

David
Elliott
4803 Wellesley St.
Toronto

In [38]:
for each_key in customer_29876.keys():
    print(each_key)

first name
last name
address
city

In [39]:
for each_key, each_value in customer_29876.items():
    print("The customer's " + each_key + " is " + each_value)

The customer's first name is David
The customer's last name is Elliott
The customer's address is 4803 Wellesley St.
The customer's city is Toronto

## 3.2.18. What Can you store in Dictionaries

In [40]:
# Lecture Slides 90
# we can store
    # single value
    # list
    # tuple
    # Dictionary
    # combination of any these

## 3.2.19. List of Dictionaries

In [41]:
# Lecture Slides 91
# Chapter No. 34 and 36
# we can make a list which contains dictionaries as its elemnts
# we can manualy do so or append list with dict

In [42]:
students = []
print(students)
students.append({'name':'Hassan','class':'AI','Campus':'Sialkot'})
print(students)
students.append({'name':'Ibtisam','class':'AI','Campus':'Islamabad'})
print(students)

[]
[{'name': 'Hassan', 'class': 'AI', 'Campus': 'Sialkot'}]
[{'name': 'Hassan', 'class': 'AI', 'Campus': 'Sialkot'}, {'name': 'Ibtisam', 'class': 'AI', 'Campus': 'Islamabad'}]

In [43]:
# if you want to manuaaly add dictionaries to list then use indent with eaech entry
customers = [
    {
        "customer id": 0,
        "first name":"John",
        "last name": "Ogden",
         "address": "301 Arbor Rd.",
    },
    {
        "customer id": 1,
        "first name":"Ann",
        "last name": "Sattermyer",
        "address": "PO Box 1145",
    },
    {
        "customer id": 2,
        "first name":"Jill",
        "last name": "Somers",
        "address": "3 Main St.",
    },
] 
customers

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
 {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.'}]

In [44]:
# we can alos use append functoion

In [45]:
customers

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
 {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.'}]

In [46]:
new_customer_id = len(customers) 
new_dictionary = { "customer id": new_customer_id, "first name": 'new_first_name', "last name": 'new_last_name', "address": 'new_address',}
new_dictionary

{'customer id': 3,
 'first name': 'new_first_name',
 'last name': 'new_last_name',
 'address': 'new_address'}

In [47]:
customers.append(new_dictionary)
customers

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
 {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.'},
 {'customer id': 3,
  'first name': 'new_first_name',
  'last name': 'new_last_name',
  'address': 'new_address'}]

## 3.2.20. Accessing info from a List of Dictionaries

In [48]:
# Lecture slides 92
# Chapter No. 35
# to acces an element
    # list_name[Dictionary_index][key_name]

In [49]:
students = []
print(students)
students.append({'name':'Hassan','class':'AI','Campus':'Sialkot'})
print(students)
students.append({'name':'Ibtisam','class':'AI','Campus':'Islamabad'})
print(students)

[]
[{'name': 'Hassan', 'class': 'AI', 'Campus': 'Sialkot'}]
[{'name': 'Hassan', 'class': 'AI', 'Campus': 'Sialkot'}, {'name': 'Ibtisam', 'class': 'AI', 'Campus': 'Islamabad'}]

In [50]:
print(students[0]['name'])

Hassan

In [51]:
dictionary_to_look_in = students[1]
student_age = dictionary_to_look_in["name"]
print(student_age)
dictionary_to_look_in

Ibtisam

{'name': 'Ibtisam', 'class': 'AI', 'Campus': 'Islamabad'}

In [52]:
print(students[0]['name'])

Hassan

In [53]:
# from book
customers = [
    {
        "customer id": 0,
        "first name":"John",
        "last name": "Ogden",
         "address": "301 Arbor Rd.",
    },
    {
        "customer id": 1,
        "first name":"Ann",
        "last name": "Sattermyer",
        "address": "PO Box 1145",
    },
    {
        "customer id": 2,
        "first name":"Jill",
        "last name": "Somers",
        "address": "3 Main St.",
    },
]

In [54]:
dictionary_to_look_in = customers[1]
customer_address = dictionary_to_look_in["address"]
print(customer_address)

PO Box 1145

## 3.2.21. Dictionary of Lists

In [55]:
# Lecture slides 93
# Chapter No. 37 and 38

In [56]:
# we can save list in a ditionaries

In [57]:
employee = {'name':'Ibtisam','childeren_names':['Golo','Molo','bunty','bubly']}
employee

{'name': 'Ibtisam', 'childeren_names': ['Golo', 'Molo', 'bunty', 'bubly']}

In [58]:
print(employee['name'])
print(employee['childeren_names'][0])
print(employee['childeren_names'][1])
print(employee['childeren_names'][2])
print(employee['childeren_names'][3])

Ibtisam
Golo
Molo
bunty
bubly

In [59]:
# From book

In [60]:
customer_29876 = {
    "first name": "David",
    "last name": "Elliott",
    "address": "4803 Wellesley St.",
    "discounts": ["standard", "volume", "loyalty"],
}
customer_29876

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'discounts': ['standard', 'volume', 'loyalty']}

In [61]:
# have a look on which is the biggest discount customer gets
if "brother-in-law" in customer_29876["discounts"]:
    discount_amount = .30
elif "loyalty" in customer_29876["discounts"]:
    discount_amount = .15
elif "volume" in customer_29876["discounts"]:
    discount_amount = .10
elif "standard" in customer_29876["discounts"]:
    discount_amount = .05
discount_amount

0.15

## 3.2.22. Dictionary of Dictionaries

In [62]:
# Lecture slides 94
# Chapter No. 39 and 40

In [63]:
# we can save list in a ditionaries
# we can change a vlaue with a dictionary
# we can do it infinte times

In [64]:
employee = {'name':'Ibtisam','children':{'Golo':{'age':10,'class':'6th Standard'},'Molo':{'age':8,'class':'4th Standard'}}}
print(employee['children']['Golo'])
print(employee['children']['Molo']['age'])

{'age': 10, 'class': '6th Standard'}
8

In [65]:
# From book

In [66]:
customers = {
    0: {
        "first name":"John",
        "last name": "Ogden",
        "address": "301 Arbor Rd.",
    },
    1: {
        "first name":"Ann",
        "last name": "Sattermyer",
        "address": "PO Box 1145",
    },
    2: {
        "first name":"Jill",
        "last name": "Somers",
        "address": "3 Main St.",
    },
}
customers

{0: {'first name': 'John', 'last name': 'Ogden', 'address': '301 Arbor Rd.'},
 1: {'first name': 'Ann', 'last name': 'Sattermyer', 'address': 'PO Box 1145'},
 2: {'first name': 'Jill', 'last name': 'Somers', 'address': '3 Main St.'}}

In [67]:
print(customers[2])

{'first name': 'Jill', 'last name': 'Somers', 'address': '3 Main St.'}

In [68]:
print(customers[2]["address"])

3 Main St.